


  h1 {font-family: sans-serif; font-style: italic; color: green; margin-left: 30%;}
  h2 { color: green ; margin-left: 40%;}
.army-shirt {margin-left:15%;}
  h3 {font-family: sans-serif; font-style: italic; color:green;margin-left: 25%;}

  body{background-image: url(https://i.pinimg.com/originals/d4/13/2e/d4132eb0116a55b7d8b23beb25d72f19.jpg);border-radius: 0;}




.subtitle {margin-right: 500px;}
.first {margin-right: 500px;}


}
